extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Yuting Le

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a developer, designer and digital marketer. 
            br
            | I have experience developing web applications using Javascript, HTML, and CSS. 
            br
            | My background in emerging media helps me understand users and keep up with trends. I have a natural curiosity and a keen eye for design. 
        
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Express
          li Pug
          li Node.js
          li React
          li SQL
        h6 Contact Info
        ul
          li leyuting@bu.edu
        a.button.expanded.round(href='https://www.linkedin.com/in/yutingle/', target="_blank") LinkedIn
        a.button.expanded.round(href='https://github.com/Yuttting', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  